body {
}

.search-input {
    padding-left: 0;
}

.head-option{
    height:40px;
}

#rMenu {
    position:absolute; 
    visibility:hidden; 
    top:0; 
    background-color: #555;
    text-align: left;
    padding: 2px;
}