@model CQUT.JJ.MusicPlayer.MS.Areas.Admin.Models.Employee.SetRolesToEmployeeViewModel
<div class="modal fade" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">设置角色：@Model.UserName</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div id="roleGrid" class="ag-theme-balham" data-id="@Model.Id"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button id="setRolesBtn" type="submit" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#my-modal').modal('show');
</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/ag-grid/js/zh-cn.js"></script>
<script src="~/lib/ag-grid/js/ag-grid-enterprise.min.js"></script>
<script src="~/lib/ag-grid/js/custom.js"></script>
<script src="~/js/admin/employee/setRoles.js"></script>