@model List<CQUT.JJ.MusicPlayer.MS.Areas.Admin.Models.Shared.MenuItemViewModel>

<ul class="treeview-menu">
    @foreach (var item in Model)
    {
        if (item.HasChild)
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-circle-o"></i> <span>@item.Header</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                @Html.Partial("_SidebarChildren", item.Children)
            </li>
        }
        else
        {
            <li>
                <a href="@item.TargetUrl">
                    <i class="fa fa-circle-o"></i> <span>@item.Header</span>
                </a>
            </li>
        }
    }
</ul>
