
@{
    ViewBag.Title = "菜单管理";
}
@section Styles{
    <link href="~/lib/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <link href="~/css/menu/index.css" rel="stylesheet" />
}

<section class="content-header">
    <h1>@ViewBag.Title<small>@ViewBag.Title</small></h1>
</section>
<section class="content">
    <div id="sidebar">
        <div class="head-option">
            <div class="search-input col-sm-6">
                <input type="text" id="menuSearch" class="form-control" placeholder="搜索菜单项..." />
            </div>
            <div class="add-root col-sm-6">
                <button id="add-root" class="btn btn-default form-control"><span class="fa fa-plus">添加菜单项</span></button>
            </div>
        </div>
        <div class="menu-tree-content">
            <ul id="menuTree" class="ztree"></ul>
        </div>
    </div>
    @*a标签设置为不可见，js中逐一使用ajax获取功能权限，拥有的设为可见*@
    <div id="rMenu">
        <a id="createMenu" href="javascript:void(0)" class="list-group-item">新增</a>
        <a id="editMenu" href="javascript:void(0)" class="list-group-item">编辑</a>
        <a id="renameMenu" href="javascript:void(0)" class="list-group-item" title="Esc键可取消操作，Enter键确认">重命名</a>
        <a id="deleteMenu" href="javascript:void(0)" class="list-group-item">删除</a>
    </div>
</section>

@section Scripts{
    <script src="~/lib/zTree/js/jquery.ztree.core.js"></script>
    <script src="~/lib/zTree/js/jquery.ztree.exedit.js"></script>
    <script src="~/lib/zTree/js/jquery.ztree.exhide.js"></script>
    <script src="~/js/menu/index.js"></script>
}

