@*@using CQUT.JJ.MusicPlayer.EntityFramework.Models*@
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;
@{
    //var jsonValue = Context.Session.GetString("User");
    //var user = jsonValue != null ? JsonConvert.DeserializeObject<User>(jsonValue) : default(User);
    string user = null;
}
<!-- 主头部 -->
<header class="main-header">
    <!-- Logo -->
    <a href="/Admin/Home/Index" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>CQLG</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>重庆理工</b>大学</span>
    </a>
    <!-- 头部导航条 -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- 左侧边栏切换按钮-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- 导航栏右侧菜单 -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                @if (user != null)
                {
                    @Html.Partial("./Header/_Message")
                    @Html.Partial("./Header/_Notification")
                    @Html.Partial("./Header/_Task")
                    @Html.Partial("./Header/_User")
                }
                else
                {
                    <li><a asp-action="Login" asp-controller="Account" asp-area="Admin">登录</a></li>
                }
                <!-- 控制右侧边栏切换的按钮 -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
