@model JJJ.CQLG.MIS.Web.Areas.Admin.Models.Role.RoleUpdateViewModel
<div class="modal fade" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">修改角色权限</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="show-set-role-attribute"><a href="javaScript:void(0)">角色属性</a></li>
                    <li role="presentation" class="show-set-permission-tree"><a href="javaScript:void(0)">权限设置</a></li>
                </ul>
                <div class="show-set-role-attribute-value">
                    <div class="input-group input-group-lg rolenameinput">
                        <input type="text" class="form-control" name="edit-role-name" id="edit-role-name" value="@Model.Name">
                    </div>

                    <div class="checkboxdiv">
                        <input type="checkbox" name="editisdefault" id="editisdefault" value="@Model.IsDefault" @(Model.IsDefault ? "checked=\"checked\"" : "") />
                        <span>是否设置为默认</span>
                    </div>
                </div>
                <div style="display:none;max-height:400px;overflow-y:auto;" class="show-set-permission-tree-value">
                    <div id="edit-permission-tree"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="saveeditroleset" onclick="saveEditPermission(@Model.Id)">保存</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/Role/update.js"></script>
<script>
    $(function () {
        $('#edit-permission-tree').jstree({
            'core': {
                'data': {
                    'url': '/Admin/Role/GetRolePermissions/@Model.Id',
                    'dataType': 'json'
                },
                "check_callback": true
            },
            'checkbox': {
                // 禁用级联选中
                //'three_state': false,
                //'cascade': 'undetermined' //有三个选项，up, down, undetermined; 使用前需要先禁用three_state
            },
            "plugins": ["themes", "json_data", "search", "checkbox"],

        });
    })
</script>