
 <!-- Messages: style can be found in dropdown.less-->
<li class="dropdown messages-menu">
    <!-- 菜单切换按钮 -->
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-envelope-o"></i>
        <span class="label label-success">4</span>
    </a>
    <ul class="dropdown-menu">
        <li class="header">你有1条通知</li>
        <li>
            <!-- inner menu: contains the messages -->
            <ul class="menu">
                <!-- 消息开始 -->
                <li>
                    <a href="#">
                        <div class="pull-left">
                            <!-- 用户头像 -->
                            <img src="~/resource/admin/Index/user-160x160.jpg" class="img-circle" alt="User Image">
                        </div>
                        <!--消息标题和时间戳 -->
                        <h4>
                            JJ官方
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                        </h4>
                        <!-- 消息内容 -->
                        <p>请尽快更新音乐信息</p>
                    </a>
                </li>
                <!-- 消息结束 -->
            </ul>
            <!-- /.menu -->
        </li>
        <li class="footer"><a href="#">查看所有通知</a></li>
    </ul>
</li>
<!-- /.messages-menu -->